@model VehicleVilla.Models.VehicleModel

@{
    ViewData["Title"] = "_vehicleCard";
}

<div id="card-number-@Model.Id"class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Make @Model.Model</h5>
        <p class="card-text"> @Html.DisplayFor(modelItem => Model.Price)</p>
        <a href="/products/ShowVehicleDetails/@Model.Id" class="btn btn-primary">Show Details</a>
    </div>
</div>
