@model IEnumerable<VehicleVilla.Models.VehicleModel>

@{
    ViewData["Title"] = "MyListings";
}

<h1>My Listings</h1>

<p>
    <a href="/Products/CreateVehicle" class="btn btn-primary">Create new Vehicle</a>
</p>
