@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vehicle Villa!</h1>
    <p>Vehcile Villa is the home of numerous luxurious vehciles around the world! <br /> Login or Register to get started browsing our platform!</p>
     
    <a href="/Login" class="btn btn-primary">Login</a>
    <a href="/Register" class="btn btn-secondary">Register</a>
</div>
